/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div{
  border: 1px solid #646cffaa;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



/*NEW STYLE BY GPT*/
/* .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  align-items: center;
}



.todo-item button {
 
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #ff4735;
} 
*/
/* $header-font: "Nunito";
$main-font: "Open Sans"; */

 /* * { box-sizing: border-box; } */

body, html { height: 100%; }

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: skyblue;
  /* overflow-y: auto; */
}

.container {
  max-height: calc(100vh - 40px); 
  overflow-y: auto;
  padding-bottom: 2.5em;
  
} 

input{
  /* padding: 10px; */


  display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
  border-radius: 5px;
  color: rgba(black, 0.7);
}

.list-wrapper {
	/* position: relative; */
	/* min-width: 45%; */
	/* padding-top: 10px;  */
  padding-bottom: 15px; 
  border-radius: 5px;
  box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.1);
  color: rgba(black, 0.7);

  background-image: repeating-linear-gradient(
    180deg, 
    darken(#fff, 10%), 
    darken(#fff, 10%) 1px, 
    #fff 1px,
    #fff 30px
  );

	&:before {
		position: absolute;
		content: "";
		display: block;
		width: 155px;
		height: 50px;
		top: 11px;
		left: -43px;
		background-color: rgba(236, 236, 236, 0.5);
		border-left: 2px dotted skyblue;
		border-right: 2px dotted skyblue;
		transform: rotate(-45deg);
	} 
}

.heading {
	border-bottom: 3px solid;
	font-family: "Nunito";
	font-size: 3em;
	padding: 15px 0;
	text-transform: uppercase;
	text-align: center;
	color: #CD4B4B;
}

.item-title {
	font-family: "Open Sans";
	font-size: 1em;
  font-weight: bold;
	/* padding: 15px 0; */
	text-transform: uppercase;
	/* text-align: center; */
	color: #5a05f6;
}

.item {
  border: 1px solid #646cffaa;
	
	label {
	  font-family: "Open Sans";
		font-size: 1.1em;
		cursor: pointer;
	}
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding-right: 2px; */
  margin-right: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #191818;
  cursor: pointer;
  transition: border-color 0.25s;
  color: whitesmoke;
}
button:hover {
  border-color: #e6ff03;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.done{
  color: greenyellow;
  pointer-events: none;
}



  .refreshButton {
      left: 50%;
      top: 20%;
      cursor: pointer;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 1.105vw 0.205vw rgb(35, 47, 62);
      background-color: #232f3e;
      width: 7vw;
      height: 3vw;
      border-left: 0.4vw solid #b60ee5;
      border-radius: 0.315vw;
      font-weight: bolder;
      font-size: 1.1vw;
      line-height: 3vw;
      text-align: center;
      transition: 0.7s ease-in-out transform, 0.7s ease-in-out;
  }

  .refreshButton:hover {
      color: red;
      transition: 0.7s ease-in-out transform, 0.7s ease-in-out;
  }
  .delete,.edit{
    font-size: 1.5em;
    vertical-align: middle;
  }

  .undo{
    font-size: 1.75em;
    vertical-align: middle;
  }

  .icons{
    font-size: 1.5em;
    vertical-align: middle;
    color: white;
    
  }

  .delete:hover {
    /* padding-top: 10px; */
    color: red;
    cursor: pointer;
  }
  .delete:hover,.icons:hover {
    /* padding-top: 10px; */
    color: grey;
    cursor: pointer;
  }

  .edit:hover,.undo:hover{
    color: grey;
    cursor: pointer;
  }
  

  .alert-green {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #469600;
    color: white;
    padding: 15px;
    border-radius: 5px;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.alert-delete {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9a0000;
  color: white;
  padding: 15px;
  border-radius: 5px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
div{
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 0.5em;
}



/* html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body{
  background: #4d244e;
  font-family: sans-serif;
  border-top: 5px solid #aa8e8d;
}

h1{
  color: #aa8e8d;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.tasks{
  width: 300px;
  height: 405px;
  position: absolute;
  top: 20%;
  left: 0px; 
  right: 0px;
  margin: 0px auto;
} */

/* input[type=checkbox] {
  display: none;
} */

/* .label{
  background: #ae5f75;
  height: 69px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2C3E50;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  text-indent: 20px;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.label-done{
  background: #ae5f75;
  height: 69px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #2C3E50;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  text-indent: 20px;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.label h2 span{
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
  color: #fff;
}

.label:before{
  content:"";
  width: 20px;
  height: 20px;
  background: #fff;
  display: block;
  position: absolute;
  border-radius: 100%;
  right: 20px;
  top: 30%;
  transition: border 0.7s ease
}

.label-done:before{
  content:"";
  width: 20px;
  height: 20px;
  background: url("https://i.imgur.com/eoPQ05r.png") no-repeat center center;;
  display: block;
  position: absolute;
  border-radius: 100%;
  right: 20px;
  top: 30%;
  transition: border 0.7s ease
}
 */


 
/* 
 html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
} */